body {
    font-size: 16px;
    line-height: 26px;
    color: $default;
    @extend %Rubik-400;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-short {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex: 1 0;
}

.title {
    color: $title;
    @extend %DMSans-700;
    font-size: 36px;
    text-align: center;
}

.breadcrumbs {

    // .breadcrumbs__list

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    // .breadcrumbs__item

    &__item {
        @extend %Rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #83898f;
        margin-right: 20px;
        position: relative;

        &::after {
            content: '/';
            position: absolute;
            top: 0;
            right: -10px;
        }

        &:last-child {
            margin-right: 0;

            &::after {
                display: none;
            }
        }
    }

    // .breadcrumbs__link

    &__link {
        color: inherit;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    color: $default;

    // .pagination__list

    &__list {
        display: flex;
    }

    // .pagination__item

    &__item+.pagination__item {
        margin-left: 15px;
    }

    &__item {}

    // .pagination__link

    &__link {
        color: $default;
        padding: 16px 20px;
        border: 1px solid $accent;

        &:hover {
            background-color: $accent;
            color: #fff;
        }
    }

    &__link--active {
        background-color: $accent;
        color: #fff;
    }

    // .pagination__arrow

    &__arrow {
        color: $default;
        padding: 19px 22px;
    }

    &__btn {}
}