$title: #191919;
$accent: #a3bbc8;
$default: #243f4d;

%DMSans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%DMSans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%DMSans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%Rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%Rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%Rubik-700 {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

%btn {
    background-color: $accent;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 54px;
}