@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {

    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 55px 0;
    }
}

.logo {
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    display: flex;

    &__text {
        margin-left: 10px;
    }
}

.menu {

    // .menu__list

    &__list {
        display: flex;
    }

    // .menu__list-item

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    // .menu__list-link

    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %Rubik-500;
        font-weight: 700;
    }
}

.user-nav {
    display: flex;

    // .user-nav__link

    &__link {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 52px;
    }

    &__link:first-child {
        background-color: #edf1f4;
    }

    &__link:last-child {
        background-color: #a3bbc8;
        line-height: 58px;
    }

    //.user-nav__inner

    &__inner {
        margin: 0 20px;
        background-color: #fcd7b6;
        height: 50px;
        display: flex;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        .user-nav__link {
            background-color: transparent;
            margin-bottom: -10px;
            padding: 0 30px;
            width: 100%;
            position: relative;
        }
    }

    //user-nav__divider


    &__divider {
        width: 1px;
        background-color: rgba(255, 255, 255, 0.4);
        height: 32px;
    }

    // .user-nav__num

    &__num {
        width: 20px;
        height: 20px;
        background-color: #fff;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 16px;
    }
}

.top-slider {

    // .top-slider__inner

    &__inner {
        background-color: #fcd7b6;
        padding: 90px 0 40px;
    }

    // .top-slider__item

    &__item {
        display: flex !important;
        justify-content: center;
    }

    &__content {
        width: 420px;
        margin-right: 100px;
        margin-top: 120px;
    }

    // .top-slider__title

    &__title {
        color: $default;
        font-size: 72px;
        line-height: 70px;
        @extend %Rubik-500;
        margin-bottom: 40px;
    }

    // .top-slider__text

    &__text {
        color: #436372;
        font-size: 18px;
        margin-bottom: 40px;
    }

    // .top-slider__link

    &__link {
        font-size: 15px;
        line-height: 12px;
        color: #fff;
        @extend %Rubik-500;
        padding: 20px 100px 20px 25px;
        background-color: #a3bbc8;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/slider/arrow-right.svg');
            width: 22px;
            height: 9px;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {

            button {
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: rgba($color: #fff, $alpha: 0.5);
                margin: 0 6px;
                font-size: 10px;
                color: #243f4d;
                @extend %Rubik-500;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}

.features {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__item {
        padding: 40px 0;
        width: 570px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &:nth-child(2) {
            border: 1px solid #ccc;
            border-top: none;
            border-bottom: none;

            .features__content {
                max-width: none;
            }
        }
    }

    &__img {
        align-self: flex-start;
        transform: translateY(10px);
    }

    // .features__content

    &__content {
        margin-left: 30px;
        max-width: 200px
    }

    // .features__content-title

    &__content-title {
        @extend %DMSans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
    }

    // .features__content-text

    &__content-text {
        @extend %DMSans-400;
        color: #585858;
    }
}

.products {
    padding: 75px 0 0px;

    &__title {
        margin-bottom: 35px;
    }



    // .products__items

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 380px);
        column-gap: 30px;
        row-gap: 40px;
        margin-bottom: 180px;
    }

    // .products__item

    &__item {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        text-align: center;
        display: grid;
        grid-template: 2fr 1fr/1fr;
        justify-items: center;
        padding-bottom: 40px;
        align-items: flex-end;
        position: relative;

        &:hover {
            .products__item-icons {
                display: flex;
            }
        }
    }

    // .products__item-img

    &__item-img {}

    // .products__item-title

    &__item-title {
        @extend %DMSans-700;
        font-size: 14px;
        line-height: 32px;
        color: $default;
    }

    // .products__item-price

    &__item-price {
        @extend %DMSans-700;
        line-height: 40px;
        color: $accent;
    }

    &__item-icons {
        display: none;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }

    &__item-inner {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #fff;
        line-height: 55px;
        margin: 0 7.5px;

        &:hover {
            background-color: $accent;

            .cls-1 {
                fill: #fff;
            }
        }
    }

    .special-products {

        // .special-products__items

        &__items {
            display: flex;
            justify-content: space-between;
        }

        // .special-products__item

        &__item {
            max-width: 870px;
            height: 390px;
            background-color: #feefe2;
            padding: 88px 140px 81px 140px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            &:nth-child(2) {
                .special-products__content {
                    margin-left: 60px;
                }

                .special-products__image::before {
                    background-image: url('../images/decor/special-products-img-2.png');
                }
            }
        }

        &__image {
            position: relative;
            width: 222px;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                background-image: url('../images/decor/special-products-img-1.png');
                width: 233px;
                height: 405px;
            }
        }

        &__img {
            line-height: 0px;
        }

        &__content {
            margin-left: 20px;
            width: 360px;
        }

        // .special-products__title

        &__title {
            @extend %DMSans-700;
            font-size: 26px;
            line-height: 1;
            color: $default;
            margin-bottom: 30px;
        }

        // .special-products__descr

        &__descr {
            margin-bottom: 30px;
            color: $default;
        }

        // .special-products__link

        &__link {
            @extend %Rubik-500;
            font-size: 15px;
            line-height: 12px;
            color: #436372;
            padding: 25px 95px 25px 20px;
            border-radius: 5px;
            border: 1px solid rgb(67, 99, 114);
            background-color: transparent;
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                background-image: url('../images/icons/arrow-right.svg');
                width: 22px;
                height: 9px;
            }
        }
    }
}

.design {
    padding: 100px 0 120px;

    &__title {
        margin-bottom: 35px;
    }

    // .design__items

    &__items {
        display: grid;
        grid-template: repeat(2, 250px)/repeat(3, 370px);
        gap: 35px 30px;
    }

    // .design__item

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        @extend %DMSans-700;
        padding: 40px 0 0 30px;
    }

    // .design__item-title

    &__item-title {
        font-size: 20px;
        color: $title;
        width: 170px;
        margin-bottom: 10px;
    }

    // .design__item-subtitle

    &__item-subtitle {
        color: $accent;
    }
}

.video {
    background-image: url('../images/video-bg.jpg');
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__play {}
}




.footer-top {
    padding: 75px 0;
    color: #7b7b7b;
    border-bottom: 1px solid #dae4e9;

    .logo {
        margin-bottom: 20px;
    }

    .logo__text {
        color: #436372;
    }

    // .footer-top__items

    &__items {
        display: flex;
    }

    &__contact {
        max-width: 200px;
        margin-right: 100px;
    }

    // .footer-top__address

    &__address {
        font-size: 14px;
        line-height: 24px;
    }

    &__address,
    &__phone,
    &__email {
        display: block;
        margin-bottom: 15px;
    }

    &__nav {
        max-width: 100px;
        margin-right: 200px;
    }

    // .footer-top__title

    &__title {
        @extend %DMSans-700;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    // .footer-top__list-link

    &__list-link {
        font-size: 14px;
        line-height: 32px;
    }

    // .footer-top__text

    &__text {
        margin-bottom: 35px;
    }

    &__item-form {
        width: 270px;
    }

    // .footer-top__form-input

    &__form-input {
        max-width: 170px;
        width: 100%;
        padding: 12px 15px;
        background-color: #fef7f0;

        &::placeholder {
            font-size: 12px;
            color: #234969;
            @extend %DMSans-400;
        }
    }

    // .footer-top__form-btn

    &__form-btn {
        background-color: $accent;
        padding: 12px 14px;
        margin-left: -4px;
        color: #fff;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    color: #7b7b7b;

    // .footer-bottom__links

    &__links {
        display: flex;
        align-items: center;
    }

    // .footer-bottom__link

    &__link {
        font-size: 14px;
        line-height: 32px;
        padding: 0 15px;
    }

    // .footer-bottom__divider

    &__divider {
        background-color: #7b7b7b;
        height: 16px;
        width: 1px;
    }
}

@import 'media';