@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {

    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 55px 0;
    }
}

.logo {
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    display: flex;

    &__text {
        margin-left: 10px;
    }
}

.menu {

    // .menu__list

    &__list {
        display: flex;
    }

    // .menu__list-item

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    // .menu__list-link

    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %Rubik-500;
        font-weight: 700;
    }
}

.user-nav {
    display: flex;

    // .user-nav__link

    &__link {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 52px;
    }

    &__link:first-child {
        background-color: #edf1f4;
    }

    &__link:last-child {
        background-color: #a3bbc8;
        line-height: 58px;
    }

    //.user-nav__inner

    &__inner {
        margin: 0 20px;
        background-color: #fcd7b6;
        height: 50px;
        display: flex;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        .user-nav__link {
            background-color: transparent;
            margin-bottom: -10px;
            padding: 0 30px;
            width: 100%;
            position: relative;
        }
    }

    //user-nav__divider


    &__divider {
        width: 1px;
        background-color: rgba(255, 255, 255, 0.4);
        height: 32px;
    }

    // .user-nav__num

    &__num {
        width: 20px;
        height: 20px;
        background-color: #fff;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 16px;
    }
}

.top-slider {

    // .top-slider__inner

    &__inner {
        background-color: #fcd7b6;
        padding: 90px 0 40px;
    }

    // .top-slider__item

    &__item {
        display: flex !important;
        justify-content: center;
    }

    &__content {
        width: 420px;
        margin-right: 100px;
        margin-top: 120px;
    }

    // .top-slider__title

    &__title {
        color: $default;
        font-size: 72px;
        line-height: 70px;
        @extend %Rubik-500;
        margin-bottom: 40px;
    }

    // .top-slider__text

    &__text {
        color: #436372;
        font-size: 18px;
        margin-bottom: 40px;
    }

    // .top-slider__link

    &__link {
        font-size: 15px;
        line-height: 12px;
        color: #fff;
        @extend %Rubik-500;
        padding: 20px 100px 20px 25px;
        background-color: #a3bbc8;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/slider/arrow-right.svg');
            width: 22px;
            height: 9px;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {

            button {
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: rgba($color: #fff, $alpha: 0.5);
                margin: 0 6px;
                font-size: 10px;
                color: #243f4d;
                @extend %Rubik-500;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}

.features {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__item {
        padding: 40px 0;
        width: 570px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &:nth-child(2) {
            border: 1px solid #ccc;
            border-top: none;
            border-bottom: none;
        }
    }

    &__img {
        align-self: flex-start;
        transform: translateY(10px);
    }

    // .features__content

    &__content {
        margin-left: 30px;
    }

    // .features__content-title

    &__content-title {
        @extend %DMSans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
    }

    // .features__content-text

    &__content-text {
        @extend %DMSans-400;
        color: #585858;
    }
}



.footer-top {
    padding: 75px 0;
    color: #7b7b7b;
    border-bottom: 1px solid #dae4e9;


    .logo {
        margin-bottom: 20px;
    }

    .logo__text {
        color: #436372;
    }

    // .footer-top__items

    &__items {
        display: flex;
    }

    &__contact {
        max-width: 211px;
        margin-right: 100px;
    }

    // .footer-top__address

    &__address,
    &__phone,
    &__email {
        display: block;
        margin-bottom: 15px;
    }

    &__nav {
        max-width: 120px;
        margin-right: 170px;
    }

    // .footer-top__title

    &__title {
        @extend %DMSans-700;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    // .footer-top__list-link

    &__list-link {
        font-size: 14px;
        line-height: 32px;
    }

    // .footer-top__text

    &__text {
        margin-bottom: 35px;
    }

    &__item-form {
        width: 280px;
    }

    // .footer-top__form-input

    &__form-input {
        max-width: 170px;
        width: 100%;
        padding: 12px 15px;
        background-color: #fef7f0;

        &::placeholder {
            font-size: 12px;
            color: #234969;
            @extend %DMSans-400;
        }
    }

    // .footer-top__form-btn

    &__form-btn {
        background-color: $accent;
        padding: 12px 14px;
        margin-left: -4px;
        color: #fff;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    color: #7b7b7b;

    // .footer-bottom__links

    &__links {
        display: flex;
        align-items: center;
    }

    // .footer-bottom__link

    &__link {
        font-size: 14px;
        line-height: 32px;
        padding: 0 15px;
    }

    // .footer-bottom__divider

    &__divider {
        background-color: #7b7b7b;
        height: 16px;
        width: 1px;
    }
}

@import 'media';